<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>TP4BDD</display-name>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>ligueBaseballServlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>ligueBaseballServlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AffichageArbitres</servlet-name>
        <servlet-class>ligueBaseballServlet.AffichageArbitres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LigueSessionListener</servlet-name>
        <servlet-class>ligueBaseballServlet.LigueSessionListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LigueContextListener</servlet-name>
        <servlet-class>ligueBaseballServlet.LigueContextListener</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LigueConstantes</servlet-name>
        <servlet-class>ligueBaseballServlet.LigueConstantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequetesEquipe</servlet-name>
        <servlet-class>ligueBaseballServlet.RequetesEquipe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequetesJoueur</servlet-name>
        <servlet-class>ligueBaseballServlet.RequetesJoueur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequetesMatch</servlet-name>
        <servlet-class>ligueBaseballServlet.RequetesMatch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequetesArbitre</servlet-name>
        <servlet-class>ligueBaseballServlet.RequetesArbitre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequetesArbitrer</servlet-name>
        <servlet-class>ligueBaseballServlet.RequetesArbitrer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LigueSessionListener</servlet-name>
        <url-pattern>/LigueSessionListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LigueContextListener</servlet-name>
        <url-pattern>/LigueContextListener</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LigueConstantes</servlet-name>
        <url-pattern>/LigueConstantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AffichageArbitres</servlet-name>
        <url-pattern>/AffichageArbitres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequetesEquipe</servlet-name>
        <url-pattern>/RequetesEquipe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequetesJoueur</servlet-name>
        <url-pattern>/RequetesJoueur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequetesMatch</servlet-name>
        <url-pattern>/RequetesMatch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequetesArbitre</servlet-name>
        <url-pattern>/RequetesArbitre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequetesArbitrer</servlet-name>
        <url-pattern>/RequetesArbitrer</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
